## Programa IT Academy – Processo Seletivo – Edição #18

### Nome: João Pedro de Moura Medeiros | Cientista de Dados e Inteligência Artificial

### Importando as principais bibliotecas

In [311]:
import pandas as pd
# Biblioteca time importada, pois durante o código ela foi necessária para as saídas aparecerem de forma correta
# Muitas não apareciam pois o célula executava de forma muito rápida, sendo assim necessária a importação
import time
import re

### Lendo o arquivo .csv

In [72]:
# Leitura do arquivo .csv
df = pd.read_csv('DNIT-Distancias.csv', delimiter=';') 
# Visualizando o data frame(df)
display(df)

,ARACAJU,BELEM,BELO HORIZONTE,BRASILIA,CAMPO GRANDE,CUIABA,CURITIBA,FLORIANOPOLIS,FORTALEZA,GOIANIA,...,PORTO ALEGRE,PORTO VELHO,RECIFE,RIO BRANCO,RIO DE JANEIRO,SALVADOR,SAO LUIS,SAO PAULO,TERESINA,VITORIA
0,0,2079,1578,1652,2765,2775,2595,2892,1183,1848,...,3296,4230,501,4763,1855,356,1578,2187,1142,1408
1,2079,0,2824,2120,2942,2941,3193,3500,1610,2017,...,3852,4397,2074,4931,3250,2100,806,2933,947,3108
2,1578,2824,0,716,1453,1594,1004,1301,2528,906,...,1712,3050,2061,3584,434,1372,2738,586,2302,524
3,1650,2140,741,0,1134,1133,1366,1673,2200,209,...,2027,2589,2135,3123,1148,1446,2157,1015,1789,1239
4,2764,2942,1453,1134,0,694,991,1298,3407,935,...,1518,2150,3247,2684,1444,2568,2979,1014,2911,1892
5,2773,2941,1594,1133,694,0,1679,1986,3406,934,...,2206,1456,3255,1990,2017,2566,2978,1614,2910,2119
6,2595,3193,1004,1366,991,1679,0,300,3541,1186,...,711,3135,3078,3669,852,2385,3230,408,3143,1300
7,2892,3500,1301,1673,1298,1986,300,0,3838,1493,...,476,3442,3375,3976,1144,2682,3537,705,3450,1597
8,1183,1611,2528,2208,3407,3406,3541,3838,0,2482,...,4242,4862,800,5396,2805,1389,1070,3127,634,2397
9,1849,2017,906,209,935,934,1186,1493,2482,0,...,1847,2390,2332,2924,1338,1643,2054,926,1986,1428
10,611,2161,2171,2245,3357,3366,3188,3485,688,2442,...,3889,4822,120,5356,2448,949,1660,2770,1224,2001
11,294,2173,1854,1928,3040,3049,2871,3168,1075,2105,...,3572,4505,285,5039,2131,632,1672,2453,1236,1684
12,5215,5298,3951,3490,3051,2357,4036,4343,5763,3291,...,4563,901,5698,1445,4374,5009,5335,3971,5267,4476
13,788,2108,2348,2422,3537,3543,3365,3662,537,2619,...,4066,4998,297,5533,2625,1126,1607,2947,1171,2178
14,3296,3854,1712,2027,1518,2206,711,476,4242,1847,...,0,3662,3779,4196,1553,3090,3891,1109,3804,2001
15,4229,4397,3050,2589,2150,1456,3135,3442,4865,2390,...,3662,0,4712,544,3473,4023,4434,3070,4366,3575
16,501,2074,2061,2135,3247,3256,3078,3375,800,2332,...,3779,4712,0,5243,2338,839,1573,2660,1137,1891
17,4763,4931,3584,3123,2684,1990,3669,3976,5396,2924,...,4196,544,5243,0,4007,4457,4968,3604,4900,4109
18,1855,3250,434,1148,1444,2017,852,1144,2805,1338,...,1553,3473,2338,4007,0,1649,3015,429,2579,521
19,356,2100,1372,1446,2568,2567,2385,2682,1389,1643,...,3090,4023,839,4457,1649,0,1599,1962,1163,1202
20,1578,806,2738,2157,2979,2978,3230,3537,1070,2054,...,3891,4434,1573,4968,3015,1599,0,2970,446,2607
21,2188,2933,586,1015,1014,1614,408,705,3127,926,...,1109,3070,2660,3604,429,1962,2970,0,2792,882
22,1142,947,2302,1789,2911,2910,3143,3450,634,1986,...,3804,4366,1137,4900,2579,1163,446,2792,0,2171
23,1408,3108,524,1238,1892,2119,1300,1597,2397,1428,...,2001,3575,1891,4109,521,1202,2607,882,2171,0

### Analisando os dados

In [73]:
# Visualizando as informações do df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ARACAJU         24 non-null     int64
 1   BELEM           24 non-null     int64
 2   BELO HORIZONTE  24 non-null     int64
 3   BRASILIA        24 non-null     int64
 4   CAMPO GRANDE    24 non-null     int64
 5   CUIABA          24 non-null     int64
 6   CURITIBA        24 non-null     int64
 7   FLORIANOPOLIS   24 non-null     int64
 8   FORTALEZA       24 non-null     int64
 9   GOIANIA         24 non-null     int64
 10  JOAO PESSOA     24 non-null     int64
 11  MACEIO          24 non-null     int64
 12  MANAUS          24 non-null     int64
 13  NATAL           24 non-null     int64
 14  PORTO ALEGRE    24 non-null     int64
 15  PORTO VELHO     24 non-null     int64
 16  RECIFE          24 non-null     int64
 17  RIO BRANCO      24 non-null     int64
 18  RIO DE JANEIRO  24 non-null     int64
 19  SALVADOR        24 non-null     int64
 20  SAO LUIS        24 non-null     int64
 21  SAO PAULO       24 non-null     int64
 22  TERESINA        24 non-null     int64
 23  VITORIA         24 non-null     int64
dtypes: int64(24)
memory usage: 4.6 KB

In [74]:
# Analisando de há dados faltantes
df.isnull().sum()

ARACAJU           0
BELEM             0
BELO HORIZONTE    0
BRASILIA          0
CAMPO GRANDE      0
CUIABA            0
CURITIBA          0
FLORIANOPOLIS     0
FORTALEZA         0
GOIANIA           0
JOAO PESSOA       0
MACEIO            0
MANAUS            0
NATAL             0
PORTO ALEGRE      0
PORTO VELHO       0
RECIFE            0
RIO BRANCO        0
RIO DE JANEIRO    0
SALVADOR          0
SAO LUIS          0
SAO PAULO         0
TERESINA          0
VITORIA           0
dtype: int64

In [75]:
# Analisando métodos estatísticos do df
df.describe()

,ARACAJU,BELEM,BELO HORIZONTE,BRASILIA,CAMPO GRANDE,CUIABA,CURITIBA,FLORIANOPOLIS,FORTALEZA,GOIANIA,...,PORTO ALEGRE,PORTO VELHO,RECIFE,RIO BRANCO,RIO DE JANEIRO,SALVADOR,SAO LUIS,SAO PAULO,TERESINA,VITORIA
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.00000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,1982.791667,2641.125000,1775.666667,1706.791667,2125.458333,2190.416667,2134.416667,2388.458333,2457.625000,1722.291667,...,2710.916667,3282.750000,2226.250000,3768.37500,1976.208333,1925.291667,2454.333333,1922.250000,2227.916667,1929.583333
std,1391.259860,1240.022942,1021.325978,826.874260,1033.063910,935.174335,1254.069130,1327.936221,1619.434464,819.457375,...,1367.491862,1426.276553,1611.149583,1525.72987,1162.734408,1253.159190,1363.877327,1166.578283,1419.244898,1084.559855
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1053.500000,2077.750000,979.500000,1144.500000,1257.000000,1609.000000,1000.750000,1300.250000,1073.750000,1123.250000,...,1672.250000,2539.250000,829.250000,3073.25000,1147.000000,1153.750000,1593.750000,915.000000,1157.750000,1284.750000
50%,1749.500000,2498.500000,1653.000000,1731.000000,2359.000000,2162.500000,2490.000000,2787.000000,2439.500000,1847.500000,...,3193.000000,3524.000000,2104.500000,4058.00000,1936.000000,1621.000000,2382.000000,2074.500000,2078.500000,1891.500000
75%,2766.250000,3207.250000,2393.000000,2169.750000,2994.250000,2950.250000,3189.250000,3488.750000,3440.500000,2346.500000,...,3861.250000,4406.250000,3249.000000,4940.25000,2670.000000,2566.500000,3068.750000,2936.500000,2969.000000,2232.750000
max,5215.000000,5298.000000,3951.000000,3490.000000,3537.000000,3543.000000,4036.000000,4343.000000,5763.000000,3291.000000,...,4563.000000,4998.000000,5698.000000,5533.00000,4374.000000,5009.000000,5335.000000,3971.000000,5267.000000,4476.000000

### Pegando os titulos das colunas

In [76]:
# Pegando todos os nomes das cidades e tranformando em uma série de dados
# Foi feito isso pois ela será inserida no index do df, facilitando a consulta das distâncias das cidades
column_city = pd.Series(df.columns) 
# Vizualizando a nova coluna
display(column_city)

0            ARACAJU
1              BELEM
2     BELO HORIZONTE
3           BRASILIA
4       CAMPO GRANDE
5             CUIABA
6           CURITIBA
7      FLORIANOPOLIS
8          FORTALEZA
9            GOIANIA
10       JOAO PESSOA
11            MACEIO
12            MANAUS
13             NATAL
14      PORTO ALEGRE
15       PORTO VELHO
16            RECIFE
17        RIO BRANCO
18    RIO DE JANEIRO
19          SALVADOR
20          SAO LUIS
21         SAO PAULO
22          TERESINA
23           VITORIA
dtype: object

### Substituindo o index do data frame

In [77]:
# Insiro a coluna recém criada no index do df, para ser feita com mais eficiência a orientação a dados
df = df.set_index(column_city)
# Visualizando o df
display(df)

,ARACAJU,BELEM,BELO HORIZONTE,BRASILIA,CAMPO GRANDE,CUIABA,CURITIBA,FLORIANOPOLIS,FORTALEZA,GOIANIA,...,PORTO ALEGRE,PORTO VELHO,RECIFE,RIO BRANCO,RIO DE JANEIRO,SALVADOR,SAO LUIS,SAO PAULO,TERESINA,VITORIA
ARACAJU,0,2079,1578,1652,2765,2775,2595,2892,1183,1848,...,3296,4230,501,4763,1855,356,1578,2187,1142,1408
BELEM,2079,0,2824,2120,2942,2941,3193,3500,1610,2017,...,3852,4397,2074,4931,3250,2100,806,2933,947,3108
BELO HORIZONTE,1578,2824,0,716,1453,1594,1004,1301,2528,906,...,1712,3050,2061,3584,434,1372,2738,586,2302,524
BRASILIA,1650,2140,741,0,1134,1133,1366,1673,2200,209,...,2027,2589,2135,3123,1148,1446,2157,1015,1789,1239
CAMPO GRANDE,2764,2942,1453,1134,0,694,991,1298,3407,935,...,1518,2150,3247,2684,1444,2568,2979,1014,2911,1892
CUIABA,2773,2941,1594,1133,694,0,1679,1986,3406,934,...,2206,1456,3255,1990,2017,2566,2978,1614,2910,2119
CURITIBA,2595,3193,1004,1366,991,1679,0,300,3541,1186,...,711,3135,3078,3669,852,2385,3230,408,3143,1300
FLORIANOPOLIS,2892,3500,1301,1673,1298,1986,300,0,3838,1493,...,476,3442,3375,3976,1144,2682,3537,705,3450,1597
FORTALEZA,1183,1611,2528,2208,3407,3406,3541,3838,0,2482,...,4242,4862,800,5396,2805,1389,1070,3127,634,2397
GOIANIA,1849,2017,906,209,935,934,1186,1493,2482,0,...,1847,2390,2332,2924,1338,1643,2054,926,1986,1428
JOAO PESSOA,611,2161,2171,2245,3357,3366,3188,3485,688,2442,...,3889,4822,120,5356,2448,949,1660,2770,1224,2001
MACEIO,294,2173,1854,1928,3040,3049,2871,3168,1075,2105,...,3572,4505,285,5039,2131,632,1672,2453,1236,1684
MANAUS,5215,5298,3951,3490,3051,2357,4036,4343,5763,3291,...,4563,901,5698,1445,4374,5009,5335,3971,5267,4476
NATAL,788,2108,2348,2422,3537,3543,3365,3662,537,2619,...,4066,4998,297,5533,2625,1126,1607,2947,1171,2178
PORTO ALEGRE,3296,3854,1712,2027,1518,2206,711,476,4242,1847,...,0,3662,3779,4196,1553,3090,3891,1109,3804,2001
PORTO VELHO,4229,4397,3050,2589,2150,1456,3135,3442,4865,2390,...,3662,0,4712,544,3473,4023,4434,3070,4366,3575
RECIFE,501,2074,2061,2135,3247,3256,3078,3375,800,2332,...,3779,4712,0,5243,2338,839,1573,2660,1137,1891
RIO BRANCO,4763,4931,3584,3123,2684,1990,3669,3976,5396,2924,...,4196,544,5243,0,4007,4457,4968,3604,4900,4109
RIO DE JANEIRO,1855,3250,434,1148,1444,2017,852,1144,2805,1338,...,1553,3473,2338,4007,0,1649,3015,429,2579,521
SALVADOR,356,2100,1372,1446,2568,2567,2385,2682,1389,1643,...,3090,4023,839,4457,1649,0,1599,1962,1163,1202
SAO LUIS,1578,806,2738,2157,2979,2978,3230,3537,1070,2054,...,3891,4434,1573,4968,3015,1599,0,2970,446,2607
SAO PAULO,2188,2933,586,1015,1014,1614,408,705,3127,926,...,1109,3070,2660,3604,429,1962,2970,0,2792,882
TERESINA,1142,947,2302,1789,2911,2910,3143,3450,634,1986,...,3804,4366,1137,4900,2579,1163,446,2792,0,2171
VITORIA,1408,3108,524,1238,1892,2119,1300,1597,2397,1428,...,2001,3575,1891,4109,521,1202,2607,882,2171,0

### Criando um df das modalidades de caminhões como do enunciado

In [78]:
''' CRIADO UM DF DAS MODALIDADES DE CAMINHÕES IGUAL AO QUE SE APRESENTA NO ENUNCIADO, PARA FACILITAR A CONSULTA '''

# Lista de modalidades de caminhões
list_truck = ['Caminhão de porte PEQUENO', 'Caminhão de porte MÉDIO', 'Caminhão de porte GRANDE']
# Lista de preço por Km (R$/km)
list_price = [4.87, 11.92, 27.44]
# Lista de peso de transporte (kg)
transport_weight = [1000, 4000, 10000]
# Criando um df da modalidade e preço por Km, conforme aparece no enunciado
df_tranport = pd.DataFrame({'Itens': list_truck, 'Preco por Km(R$/km)': list_price, 'Peso de transporte(kg)': transport_weight}, index=[1,2,3])
# Visualizando o df
display(df_tranport)

                       Itens  Preco por Km(R$/km)  Peso de transporte(kg)
1  Caminhão de porte PEQUENO                 4.87                    1000
2    Caminhão de porte MÉDIO                11.92                    4000
3   Caminhão de porte GRANDE                27.44                   10000

### Menu

In [79]:
''' FUNÇÃO CRIADA PARA A CRIAÇÃO DO MENU DO PROGRAMA '''

def menu():
    print(" _ "*34)
    print("|                                                MENU                                                |")
    print("|                                                                                                    |")
    print("|                   DIGITE OS NÚMERO DAS FUNCIONALIDADES ABAIXO PARA ELAS EXECUTAREM                 |")
    print("|                                                                                                    |")
    print("| Funcionalidade 1.[Consultar trechos x modalidade]                                                  |")
    print("| Funcionalidade 2.[Cadastrar transporte]                                                            |")
    print("| Funcionalidade 3.[Dados estatísticos]                                                              |")
    print("| Funcionalidade 4.[Finalizar programa]                                                              |")
    print("|                                                                                                    |")
    print(" _ "*34)

# Retire a # abaixo caso queirar visualizar o menu
# menu()

### Funcionalidade 1. [Consultar trechos x modalidade]

In [176]:
''' FUNÇÃO QUE APRESENTA O CÓDIGO DA FUNCIONALIDADE 1 '''

def functionality_1():
    try:
        # Aqui é feito a inserção das cidades de origem e destino
        print("\nINSIRA A CIDADE DE ORIGEM\nExemplo: 'PORTO ALEGRE'\n")
        time.sleep(1)
        # Aqui foi inserido a função input para o usuário inserir a cidade de origem
        city_1 = input('INSIRA A CIDADE DE ORIGEM:').upper()
        print('CIDADE DE ORIGEM INSERIDA')
        print(f'>>>>>{city_1}<<<<<\n')
        
        # As 5 linhas abaixo farão a mesma coisa, porém será inserida a cidade de destino
        print("INSIRA A CIDADE DE DESTINO\nExemplo: 'SAO PAULO'\n")
        time.sleep(1)
        city_2 = input('INSIRA A CIDADE DE DESTINO:').upper()
        print('CIDADE DE DESTINO INSERIDA!')
        print(f'>>>>>{city_2}<<<<<\n')
        
        # Aqui é feito a inserção da modalidade do caminhão
        print('-'*60,'\n\nDIGITE O NÚMERO DA MODALIDADE DO CAMINHÃO:\nExemplo: 1 - Caminhão de pequeno porte')
        print('         2 - Caminhão de médio porte \n         3 - Caminhão de grande porte\n')
        time.sleep(1)
        truck_modality = int(input('ESCOLHA A MODALIDADE DO CAMINHÃO:'))
        print('NÚMERO DA MODALIDADE DO CAMINHÃO INSERIDO!')
        print(f'>>>>>{truck_modality}<<<<<\n')

        # Será localizado no 'df_transport' a modalidade requisitadas pelo usurário
        list_truck_price = list(df_tranport.iloc[truck_modality-1])
        truck = list_truck_price[0] 
        price = list_truck_price[1]
          
        # Aqui se buscará no 'df' de distância das cidades, os dados das cidades requisitadas pelo usurário
        distance_between_cities = df.loc[city_1, city_2]
        # Após a pesquisa da distancia das cidades, se multiplicará ela pelo preço, dando assim o Preço por Km (R$/km) 
        # Foi usado a função 'round' para deixar 2 casas depois da vírgula
        price_per_km = round(distance_between_cities*price,2)

        # As linhas abaixo mostrarão o output com as cidades, modalidade e calculo conforme 
        # o exemplo dado na funcionalidade 1
        print('-'*60)
        print(f'De {city_1} para {city_2}, utilizando um {truck},')
        print(f'a distância é de {distance_between_cities} km e o custo será de R${price_per_km}.')
        print('-'*60)   
        time.sleep(1)

    except KeyError as c:
        print('-'*80)
        print(f'\nA cidade inserida {c} não está contida no nosso banco de dados\n')
        print('Por favor, insira as cidades sem: \n- Caracteres especiais \n- Acentos \n- Espaços no começo ou fim delas\n')
        print("Exemplo I: insira 'SAO PAULO' ao invés de 'SAO_PAULO'")
        print("Exemplo II: insira 'SAO PAULO' ao invés de 'SÃO PAULO'")
        print("Exemplo III: insira 'SAO PAULO' ao invés de '  SAO PAULO  '\n")
        print('Digite novamente 1.[Consultar trechos x modalidade] caso queira consultar a cidade de forma certa\n')
        print('-'*80)
        time.sleep(1)

    except (IndexError, UnboundLocalError):
        print('-'*90)
        print(f'\nO número inserido {truck_modality} da modalidade de caminhão não está contido no nosso banco de dados\n')
        print('Por favor, insira os números (1,2 ou 3), sendo eles sem: \n- Caracteres especiais \n- Acentos \n- Espaços no começo ou fim delas\n')
        print("Exemplo I: insira '2' ao invés de '_2_'")
        print("Exemplo II: insira '2' ao invés de '*2*'\n")
        print('Digite novamente 1.[Consultar trechos x modalidade] caso queira consultar a modalidade de forma certa\n')
        print('-'*90)
        time.sleep(1)
    
# Retire a # abaixo caso queirar testar a funcionalidade     
# functionality_1()

INSIRA A CIDADE DE ORIGEM
Exemplo: 'PORTO ALEGRE'

CIDADE DE ORIGEM INSERIDA
>>>>>PORTO ALEGRE<<<<<

INSIRA A CIDADE DE DESTINO
Exemplo: 'SAO PAULO'

CIDADE DE DESTINO INSERIDA!
>>>>>CURITIBA<<<<<

------------------------------------------------------------

DIGITE O NÚMERO DA MODALIDADE DO CAMINHÃO:
Exemplo: 1 - Caminhão de pequeno porte
         2 - Caminhão de médio porte
         3 - Caminhão de grande porte

NÚMERO DA MODALIDADE DO CAMINHÃO INSERIDO!
>>>>>1<<<<<

------------------------------------------------------------
De PORTO ALEGRE para CURITIBA, utilizando um Caminhão de porte PEQUENO,
a distância é de 711 km e o custo será de R$3462.57.
------------------------------------------------------------

### Funcionalidade 2. [Cadastrar transporte]

In [299]:
def model_identify(city_1, city_2, city_3):
    distance_between_cities_1 = df.loc[city_1, city_2]
    distance_between_cities_2 = df.loc[city_2, city_3]
    sum_distance = distance_between_cities_1 + distance_between_cities_2
    
    print(f'de {city_1} para {city_2}, a distância a ser percorrida é de {distance_between_cities_1} km')
    print(f'e de {city_2} para {city_3}, a distância a ser percorrida é de {distance_between_cities_2} km')
    print(f'somando um total de {sum_distance} km, para transporte dos produtos')
    
    return sum_distance
    
# Função para calcular o peso dos itens pelas suas quantidades e a partir disso escolhendo os caminhões para transporte
def cost_transport(weight_item_list, quantity_item_list, items_list):
    ###print(weight_item_list)
    ###print(quantity_item_list)
    list_total_weight_item = list(map(lambda x, y: (x*y), weight_item_list, quantity_item_list))
    total_weight = sum(list_total_weight_item)

    ###print(total_weight)
    ###print(list_total_weight_item)

    # 11750.0
    # Modalidades dos caminhões
    truck_modality_1 = df_tranport['Itens'][1]
    truck_modality_2 = df_tranport['Itens'][2]
    truck_modality_3 = df_tranport['Itens'][3]
    list_modality = [truck_modality_1, truck_modality_2, truck_modality_3]
    # Peso de transporte dos caminhões
    truck_weight_1 = df_tranport['Peso de transporte(kg)'][1]
    truck_weight_2 = df_tranport['Peso de transporte(kg)'][2]
    truck_weight_3 = df_tranport['Peso de transporte(kg)'][3]

    # Aqui será feito a contagem de quantos caminhões serão necessários para o transporte da carga se baseando no peso dela
    list_transport_truck = []
    while total_weight > 0:
        if total_weight >= truck_weight_3:    
            total_weight = total_weight - truck_weight_3
            list_transport_truck.append(truck_modality_3)
        elif total_weight >= truck_weight_2:
            total_weight = total_weight - truck_weight_2
            list_transport_truck.append(truck_modality_2)
        else:
            total_weight = total_weight - truck_weight_1
            list_transport_truck.append(truck_modality_1)
        ####print(total_weight)

    truck_count_1 = list_transport_truck.count(truck_modality_1)
    truck_count_2 = list_transport_truck.count(truck_modality_2)
    truck_count_3 = list_transport_truck.count(truck_modality_3)
    
    dict_truck_count = ({truck_modality_1: truck_count_1, truck_modality_2: truck_count_2, truck_modality_3: truck_count_3})
    values = list(dict_truck_count.values())
    
    list_truck_transport_count = list(map(lambda x, y: f'{x} {y}' if x != 0 else None , values, list_modality ))
    list_truck_transport_count = list(filter(lambda x: x is not None, list_truck_transport_count))

    ####print(list_truck_transport_count)
    str_truck_tranport_count = ', '.join(list_truck_transport_count)
    str_items_list = ', '.join(items_list)
    
    ####print(str_truck_tranport_count)
    ####print(list_transport_truck, '\n')
    print(f'{str_items_list} será necessário utilizar')
    print(f'{str_truck_tranport_count},\nde forma a resultar no menor custo de transporte por km rodado.')
    
    return (list_transport_truck, list_truck_transport_count)

In [327]:
''' FUNÇÃO QUE APRESENTA O CÓDIGO DA FUNCIONALIDADE 2 '''

list_transport_register = []

def functionality_2(): 
        print('\nFAÇA O CADASTRO DA SUA EMPRESA! INSIRA O NOME DE SUA EMPRESA\n')
        print('-'*80)
        company = 'TIKTOK'#str(input('\nFAÇA O CADASTRO DA SUA EMPRESA! INSIRA O NOME DE SUA EMPRESA'))
        print('\nNOME DA EMPRESA INSERIDO!')
        print(f'>>>>>{company}<<<<<\n')
        print('-'*80)
        time.sleep(2)
        
        city_list = []
        '''
        print('\nINSIRA AS CIDADES DESEJADAS!\n')
        for i in range(1,4):
            city_isf = ['INICIAL', 'DE PARADA', 'FINAL']
            value_city = city_isf[i-1]
            print(f'INSIRA A CIDADE {value_city}')
            city_list.append(str(input(f'INSIRA A CIDADE {value_city}').upper()))
            city_inserted = city_list[i-1]
            print(f'CIDADE {value_city} INSERIDA FOI: {city_inserted}\n')
        print('-'*80,'\n')
        time.sleep(2)
        '''
        #####
        listaaa = ['PORTO ALEGRE', 'FLORIANOPOLIS', 'CURITIBA']
        for i in listaaa:
            city_list.append(i)
        time.sleep(2)
        print()
        #####
        '''
        try:
            items_list = []
            weight_item_list = []
            quantity_item_list = []
            print('INSIRA OS NOMES DOS ITENS DESEJADOS COM SEUS PESOS E QUANTIDADES!\n')
            time.sleep(1)
            for i in range(1,5):
                print(f'INSIRA O NOME DO ITEM NÚMERO {i}')
                items_list.append(str(input(f'INSIRA O NOME DO ITEM NÚMERO {i}')))
                item_inserted = items_list[i-1]
                time.sleep(1)
                print(f'INSIRA O PESO DO ITEM NÚMERO {i}')
                weight_item_input = str(input(f'INSIRA O PESO DO ITEM NÚMERO {i}'))
                weight_item_list.append(float(weight_item_input.replace(",", ".")))
                weight_item_inserted = weight_item_list[i-1]
                time.sleep(1)
                print(f'INSIRA A QUANTIDADE DO ITEM NÚMERO {i}')
                quantity_item_input = int(input(f'INSIRA A QUANTIDADE DO ITEM NÚMERO {i}'))
                quantity_item_list.append(quantity_item_input)
                quantity_item_inserted = quantity_item_list[i-1]
                time.sleep(1)
                print(f'\nO ITEM NÚMERO {i} INSERIDO FOI >>>{item_inserted}<<< E SEU PESO É DE >>>{weight_item_inserted}kg<<<')
                print(f'COM >>>{quantity_item_inserted}<<< DE QUANTIDADE\n')
                time.sleep(1)
            print('-'*80,'\n')
               
        except ValueError:
            print()
            print('-'*90)
            print('\nNUMERO INSERIDO DE FORMA ERRADA!\n')
            print('PARA A INSERÇÃO DE PESO, É APENAS POSSÍVEL NÚMEROS!')
            print('PARA A INSERÇÃO DE QUANTIDADE, É APENAS POSSÍVEL NÚMEROS INTEIROS(SEM PONTO OU VÍRGULA)!\n')
            print('POR FAVOR, PRESSIONE NOVAMENTE A FUNCIONALIDADE 2.[Cadastrar transporte] CASO QUEIRA REPETIR O PROCESSO DE FORMA CERTA!\n')
            print('-'*90)
            time.sleep(1)
        '''
        ###
        items_list = ['Celulares', 'Celulares', 'freezers', 'luminarias']
        weight_item_list = [0.5, 60.0, 100, 0.8]
        quantity_item_list = [300, 50, 70, 2000]
        ###
        
        sum_distance = int(model_identify(city_list[0], city_list[1], city_list[2]))
        result = cost_transport(weight_item_list, quantity_item_list, items_list)

        # Interando sobre a lista retornada da função cost_transport, pegará as modalidade dos caminhões tais como 
        # ['Caminhão de porte GRANDE', 'Caminhão de porte MÉDIO', 'Caminhão de porte PEQUENO']
        list_total_prices_per_way = []
        for i in result[0]:
            price_per_km = float(df_tranport.loc[df_tranport['Itens'] == i]['Preco por Km(R$/km)'])
            total_price = round(price_per_km*sum_distance, 2)
            list_total_prices_per_way.append(total_price)
            
        var_total_price = round(sum(list_total_prices_per_way),2)
        sum_quantity_item_list= sum(quantity_item_list)
        var_unitary_price = round(var_total_price/sum_quantity_item_list,2)
        print(f'O valor total do transporte dos itens é R$ {var_total_price},')
        print(f'sendo R$ {var_unitary_price} é o custo unitário médio.\n')
        print('-'*80,'\n')
        
        ### IF ELSE CENARIOS

        # Aqui será feito o calculo do 'Custo médio por tipo de produto'
        set_items = list(set(items_list))
        mean_cust_per_product = round(var_total_price/len(set_items),2)

        list_nums = []
        for i in result[1]:
            num = (re.findall('[0-9]+', i))
            print(num)
            list_nums.append(num[-1])
        total_trucks = 0
        for valor in list_nums:
            total_trucks += int(valor)
        
        # Aqui será feito o armazenamento dos dados cadastrados em dicionário
        # Para que possa exibir um relatório dos transportes até então cadastrados na funcionalidade 3
        dict_transport = {company: dict({'Custo total (R$)': var_total_price,
                                         'Custo por trecho (R$)': None, # Custo médio por trecho ???
                                         'Custo médio por km (R$)': None,
                                         'Custo médio por tipo de produto (R$)': mean_cust_per_product,
                                         'Custo total por trecho (R$)': None,
                                         'Custo total para cada modalidade de transporte (R$)': list_total_prices_per_way,
                                         'Número total de veículos deslocados': total_trucks, 
                                         'Total de itens Transportados': sum(quantity_item_list)})}

        # Adicionará o dicionário em uma lista global para depois ser manipulada na funcionalidade 3
        list_transport_register.append(dict_transport)
        print(dict_transport)

# Retire a # abaixo caso queirar testar a funcionalidade   
# model_identify('PORTO ALEGRE', 'FLORIANOPOLIS', 'CURITIBA', None)  
functionality_2()

FAÇA O CADASTRO DA SUA EMPRESA! INSIRA O NOME DE SUA EMPRESA

--------------------------------------------------------------------------------

NOME DA EMPRESA INSERIDO!
>>>>>TIKTOK<<<<<

--------------------------------------------------------------------------------

de PORTO ALEGRE para FLORIANOPOLIS, a distância a ser percorrida é de 476 km
e de FLORIANOPOLIS para CURITIBA, a distância a ser percorrida é de 300 km
somando um total de 776 km, para transporte dos produtos
Celulares, Celulares, freezers, luminarias será necessário utilizar
2 Caminhão de porte PEQUENO, 1 Caminhão de porte GRANDE,
de forma a resultar no menor custo de transporte por km rodado.
O valor total do transporte dos itens é R$ 28851.68,
sendo R$ 11.92 é o custo unitário médio.

--------------------------------------------------------------------------------

['2']
['1']
3
{'TIKTOK': {'Custo total (R$)': 28851.68, 'Custo por trecho (R$)': None, 'Custo médio por km (R$)': None, 'Custo médio por tipo de produto (R$)': 9617.23, 'Custo total por trecho (R$)': None, 'Custo total para cada modalidade de transporte (R$)': [21293.44, 3779.12, 3779.12], 'Número total de veículos deslocados': None, 'Total de itens Transportados': 2420}}

### Funcionalidade 3.[Dados estatísticos]

In [312]:
''' FUNÇÃO QUE APRESENTA O CÓDIGO DA FUNCIONALIDADE 3 '''

def functionality_3(): 
    print(list_transport_register)
    
functionality_3()

[{'TIKTOK': {'Custo total (R$)': 28851.68, 'Custo por trecho (R$)': None, 'Custo médio por km (R$)': None, 'Custo médio por tipo de produto (R$)': 9617.23, 'Custo total por trecho (R$)': None, 'Custo total para cada modalidade de transporte (R$)': [21293.44, 3779.12, 3779.12], 'Número total de veículos deslocados': None, 'Total de itens Transportados': 2420}}]

### Programa

In [272]:
''' AQUI SERÁ O CÓDIGO QUE IRÁ EXECUTAR TODO O PROGRAMA, JUNTANDO TODOS OS CÓDIGOS EM UM SÓ '''

# Chamando a função menu
menu()

list_functionality = ['1.[Consultar trechos x modalidade]',
                      '2.[Cadastrar transporte]',
                      '3.[Dados estatísticos]',
                      '4.[Finalizar o programa]']

i = int
# Foi criado um while() para ficar rodando o programa
while i != 4: ### != 4
    # Inserido um try e um except para analisarem se o usúario inseriu algum dado inválido
    try: 
        print("\nDIGITE O NÚMERO DA FUNCIONALIDADE\n")
        i = int(input("DIGITE O NÚMERO DA FUNCIONALIDADE:"))
        number_functionality = list_functionality[i-1]
        print(f"O NÚMERO DA FUNCIONALIDADE ESCOLHIDO FOI\n>>> {number_functionality}\n")
        time.sleep(2)
        print('-'*60)
        if (i == 1):
            # Executará o código da funcionalidade 
            functionality_1()
        elif (i == 2):
            # Executará o código da funcionalidade 
            functionality_2()
        elif (i == 3):
            # Executará o código da funcionalidade 
            functionality_3()
        elif (i == 4):
            print("\nO PROGRAMA FOI FINALIZADO! ATÉ LOGO!")
            break
        else:
            print("\nERRO DE NUMERAÇÃO, DIGITE APENAS OS NÚMEROS DAS FUNCIONALIDADES (1, 2, 3, 4)\n")
            print('-'*60)
            time.sleep(1)
    except (ValueError, IndexError):
        print('-'*60)
        print("\nDIGITE APENAS NÚMEROS (1, 2, 3 OU 4)\n")
        print('-'*60)
        time.sleep(1)

 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
|                                                MENU                                                |
|                                                                                                    |
|                   DIGITE OS NÚMERO DAS FUNCIONALIDADES ABAIXO PARA ELAS EXECUTAREM                 |
|                                                                                                    |
| Funcionalidade 1.[Consultar trechos x modalidade]                                                  |
| Funcionalidade 2.[Cadastrar transporte]                                                            |
| Funcionalidade 3.[Dados estatísticos]                                                              |
| Funcionalidade 4.[Finalizar programa]                                                              |
|                                                                                                    |
 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _

DIGITE O NÚMERO DA FUNCIONALIDADE

------------------------------------------------------------

DIGITE APENAS NÚMEROS (1, 2, 3 OU 4)

------------------------------------------------------------

DIGITE O NÚMERO DA FUNCIONALIDADE

O NÚMERO DA FUNCIONALIDADE ESCOLHIDO FOI
>>> 4.[Finalizar o programa]

------------------------------------------------------------

O PROGRAMA FOI FINALIZADO! ATÉ LOGO!